{% extends 'CrystalrutasBundle:Default:index.html.twig' %}

{% block center %}
<div class="top-bar">                    
    <div align="center"><h1>Agregar Acceso</h1></div>
</div>
<br /><br /><br /><br /><br /><br />

<form method="post" enctype="multipart/form-data">
<div class="table">
<table class="listing form" cellpadding="0" cellspacing="0" style="width: 80%; margin: 0 auto;border: 0px;">

 <tr>
	            <td><strong>Usuario</strong></td>
				<td><input type="text" name="txtUser" class="text"  required value=""/></td>
				
</tr>
 <tr>
	            <td><strong>Contraseña</strong></td>
				<td><input type="password" name="txtPass" class="text"  required  value=""/></td>
				
</tr>
<tr>
				<td><input type="submit" value="Aceptar" name="btnAddDep" class="button"  value="Agregar Empleado" /></td>
				<td><input type="button" name="btnCancel" class="button" onCLick="document.location.href='{{ path('listaAcceso') }}';" value="Cancelar" /></td>
</tr>

</table>
</div>
{% endblock %}