	{% extends 'CrystalrutasBundle:Default:index.html.twig' %}

{% block center %}
	 <div id="header" align="center" style="font:12px/15px verdana,sans-serif;
	color:#43729F;">
			<h1>Bienvenidos a Prepago y Más S.A. de C.V.</h1>
			<h1>Control de Sistema de Planilla</h1>
	</div>
	<div id="header" >
		<form method="post" enctype="multipart/form-data">
		<table class="listing form"   cellpadding="0" cellspacing="0" style="width: 10%; margin: 0 auto;border: 0px;">
			<tr>
							<td><b>Usuario</b></td>
							<td><input type="text" name="txtUser" class="text" required maxlength="30"/></td>
			</th>
			</tr>
			<tr>
							<td><b>Password</b></td>
							<td><input type="password" name="txtPass" class="text" required maxlength="30"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit"class="button" value="Entrar" /></td> 
			</tr>
		</table>
		</form>
	</div>
{% endblock %}
