{% extends 'CrystalrutasBundle:Default:index.html.twig' %}

{% block center %}
<div class="top-bar">                    
    <div align="center"><h1>Modificar Faltas</h1></div>
</div>
<br /><br /><br /><br /><br /><br />

<form method="post" enctype="multipart/form-data">
<div class="table">
<table class="listing form" cellpadding="0" cellspacing="0" style="width: 80%; margin: 0 auto;border: 0px;">

 <tr>
	            <td><strong>Descripcion Falta</strong></td>
				<td><input type="text" name="txtDesc" class="text"  required value="{{ faltas.descripcion}}"/></td>
				
</tr>
 <tr>
 			 <td><strong>Remuneracion</strong></td>
				<td><select  name="rem" >
					<option value="{{faltas.remunerada}}">
					{% if faltas.remunerada == 0 %}
							No
						{% else %}
							Si
						{% endif %}
					</option>
						{% if faltas.remunerada == 0 %}
							No
						{% else %}
							Si
						{% endif %}		
					</option>
					<option value="{% if faltas.remunerada == 0 %}
							1
						{% else %}
							0
						{% endif %}">
						{% if faltas.remunerada == 0 %}
							Si
						{% else %}
							No
						{% endif %}	
						</option>
					</select>
				</td>
	           
				
</tr>
 <tr>
	            <td><strong>Afecta 7°</strong></td>
				<td><select name="septimo">
					<option required value="{{faltas.septimo}}">
					{% if faltas.septimo == 0 %}
							No
						{% else %}
							Si
						{% endif %}		
					</option>
					<option value="{% if faltas.septimo == 0 %}
							1
						{% else %}
							0
						{% endif %}">
						{% if faltas.septimo == 0 %}
							Si
						{% else %}
							No
						{% endif %}	
						</option>
					
					</select>
				</td>
</tr>
<tr>
				<td><input type="submit" value="Aceptar" name="btnAddDep" class="button"  value="Agregar Empleado" /></td>
				<td><input type="button" name="btnCancel" class="button" onCLick="document.location.href='{{ path('listaFaltas') }}';" value="Cancelar" /></td>
</tr>

</table>
</div>
{% endblock %}